---
import Layout from "../../layouts/Layout.astro"
import { getEntry } from "astro:content"
import Sidebar from "../../components/Sidebar.astro"
import Breadcrumb from '../../components/Breadcrumb.astro';
const about = await getEntry("about", "index")
if (!about) throw new Error("About data not found")

const { profil } = about.data
const item = profil.items[0]
const backgroundImage = item?.image

function parseTable(markdown) {
  const lines = markdown
    .split("\n")
    .map(l => l.trim())
    .filter(l => l.startsWith("|"))

  const rows = lines.slice(2)

  return rows.map(row => {
    const cols = row
      .split("|")
      .map(c => c.trim())
      .filter(Boolean)

    return {
      no: cols[0],
      keterangan: cols[1],
      data: cols[2]
    }
  })
}

const rows = parseTable(item.body)
const title ="Profile Lengkap Sekolah"
---
<Layout title={title}>
  <!-- HERO -->
  <section class="relative py-12 px-4">
    <div class="container relative w-full h-screen mx-auto rounded-2xl bg-cover bg-center before:content-[''] before:absolute before:bg-black before:opacity-70 before:inset-0 before:rounded-2xl before:w-full before:h-full" 
          style={`background-image: url(${backgroundImage})`}>
      <div class="relative w-full h-full flex flex-col items-center justify-center">
          <h1 class="text-xl md:text-3xl text-surface text-center p-2 font-semibold">
            {title}
          </h1>
          <Breadcrumb title={title} parent={{ label: "About", href: "/about" }}/>
      </div>
    </div>
  </section>

  <!-- TABLE -->
  <section>
    <div class="container px-4 mx-auto w-full h-full overflow-hidden flex flex-col lg:flex-row gap-6">
      <div class="w-full lg:w-3/4 space-y-3 overflow-x-auto mb-12">
        <h2 class="text-2xl font-semibold mb-6">
            {item.title}
        </h2>
        <table class="w-full text-sm">
          <thead class="bg-surface">
            <tr>
              <th class="px-2 py-3 text-left">
                No
              </th>
              <th class="px-2 py-3 text-left">
                Keterangan
              </th>
              <th class="px-2 py-3 text-left">
                Data
              </th>
            </tr>
          </thead>
          <tbody>
            {
              rows.map((row, index) => (
                <tr class={index % 2 === 0 ? "bg-surface" : "bg-muted text-surface"}>
                  <td class="px-4 py-2">
                    {row.no}
                  </td>
                  <td class="px-4 py-2">
                    {row.keterangan}
                  </td>
                  <td class="px-4 py-2">
                    {row.data}
                  </td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>
      <Sidebar />
    </div>
  </section>
</Layout>
