---
// src/components/CardPosts.astro
import FormattedDate from "./FormattedDate.astro";
interface Props {
  title: string;
  description?: string;
  image?: string;
  date?: Date | string | null;
  category?: string;
  url: string;
  author?: {
    name: string;
    avatar?: string;
    username?: string;
    role?: string;
  };
}

const {
  title = '',
  description = '',
  image = '',
  date = null,
  category = 'Uncategorized', 
  url = '#',
  author
} = Astro.props;

// Validasi category
const validCategory = category && category !== 'undefined' ? category : 'Uncategorized';

function excerpt(text: string | undefined, limit: number): string {
  if (!text) return "";
  return text.length > limit ? text.slice(0, limit) + "..." : text;
}

function isTextTruncated(text: string | undefined, limit: number): boolean {
  if (!text) return false;
  return text.length > limit;
}

---

<article class="bg-surface rounded-md shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300">
  <div class="relative overflow-hidden">
    <a href={url}>
      {image && (
        <div class="h-48 overflow-hidden">
          <img 
            src={image} 
            alt={title} 
            class="w-full h-48 object-cover hover:scale-125 hover:-skew-3 transition-transform duration-300" 
            loading="lazy"
          />
        </div>
      )}
    </a>
    
    {validCategory && validCategory !== 'Uncategorized' && (
      <span class="absolute top-0 right-0 bg-surface text-primary text-xs px-2 py-1 rounded-tr-md capitalize">
        {validCategory}
      </span>
    )}
    
    {date && (
      <div class="absolute bottom-0 left-0 rounded-tr-md bg-primary text-surface px-3 py-1 text-sm font-semibold">
        <FormattedDate date={date} format="short" />
      </div>
    )}

  </div>
  
  <div class="p-4">
    <a href={url} class="transition-colors">
        <h3 class="text-heading hover:text-secondary font-bold text-lg mb-2 leading-6">{title}</h3>
      </a>
    
    {description && (
      <p class="text-muted text-sm inline">
        {excerpt(description, 100)}
        {/* Link inline setelah titik-titik  */}
        {isTextTruncated(description, 100) && (
          <a 
            href={url}
            class="inline-flex items-center font-medium ml-1 whitespace-nowrap"
          >
            Read more
            <svg class="w-3 h-3 ml-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </a>
        )}
      </p>
    )}

    {author && (
      <div class="flex items-center gap-1 my-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="text-muted" width="16" height="16" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
            <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/>
            <circle cx="12" cy="7" r="4"/>
          </g>
        </svg>
          <a href={`/author/${author.name}`}>
            <p class="text-sm font-medium text-muted hover:text-secondary">
                {author.name}
            </p>
          </a>
      </div>
    )}
  </div>
</article>